<!DOCTYPE html>
<form method="post" action="/">
  <button type="submit" value="0" name="mode[mode]">Dim</button>
  <button type="submit" value="1" name="mode[mode]">Full Brightness</button>
  <button type="submit" value="2" name="mode[mode]">Flash</button>
  <button type="submit" value="3" name="mode[mode]">Top 1/3</button>
  <button type="submit" value="4" name="mode[mode]">Middle2 1/3</button>
  <button type="submit" value="5" name="mode[mode]">Bottom 1/3</button>
  <button type="submit" value="6" name="mode[mode]">Mix</button>
</form>
