<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cloud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<style type="text/css">
  .box {
      border: 1px outset blue;
      background-color: lightBlue;
      height:150px;
      width:150px;
      cursor:pointer;
  }
</style>

<div class="container">
  <h2>Modes</h2>
  <div class="btn-group">
    <form method="post" action="/">
      <button class="box" type="submit" name="mode[mode]" value="-1">Off</button>
      <button class="box" type="submit" name="mode[mode]" value="0">Dim</button>
      <button class="box" type="submit" name="mode[mode]" value="1">Full Brightness</button>
      <button class="box" type="submit" name="mode[mode]" value="2">Flash</button>

      <button class="box" type="submit" name="mode[mode]" value="3">Top 1/3</button>
      <button class="box" type="submit" name="mode[mode]" value="4">Middle2 1/3</button>
      <button class="box" type="submit" name="mode[mode]" value="5">Bottom 1/3</button>
      <button class="box" type="submit" name="mode[mode]" value="6">Mix</button>

      <button class="box" type="submit" name="mode[mode]" value="7">Red</button>
      <button class="box" type="submit" name="mode[mode]" value="8">Green</button>
      <button class="box" type="submit" name="mode[mode]" value="9">Blue</button>
      <button class="box" type="submit" name="mode[mode]" value="10">Cycle</button>

      <button class="box" type="submit" name="mode[mode]" value="11">Purple</button>
      <button class="box" type="submit" name="mode[mode]" value="12">Fast Rainbow</button>
      <button class="box" type="submit" name="mode[mode]" value="13">Medium Rainbow</button>
      <button class="box" type="submit" name="mode[mode]" value="14">Slow Rainbow</button>

      <button class="box" type="submit" name="mode[mode]" value="15">Sunny yellow</button>
      <button class="box" type="submit" name="mode[mode]" value="16">Sunrise</button>
      <button class="box" type="submit" name="mode[mode]" value="17">Sunset</button>
      <button class="box" type="submit" name="mode[mode]" value="18">Rain</button>

      <br>
      <br>
      <h2>Toggle Weather Mode</h2>
      <button class="box" type="submit" name="mode[mode]" value="1001">On</button>
      <button class="box" type="submit" name="mode[mode]" value="1000">Off</button>

      <br>
      <br>
      <h2>Toggle Quiet Hours</h2>
      <button class="box" type="submit" name="mode[mode]" value="2001">On</button>
      <button class="box" type="submit" name="mode[mode]" value="2000">Off</button>

    </form>
  </div>
</div>

</body>
