<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cloud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Modes</h2>
  <div class="btn-group">
    <form method="post" action="/">
      <button class="button" type="submit" value="0" name="mode[mode]">Dim</button>
      <button class="button" type="submit" value="1" name="mode[mode]">Full Brightness</button>
      <button class="button" type="submit" value="2" name="mode[mode]">Flash</button>
      <button class="button" type="submit" value="3" name="mode[mode]">Top 1/3</button>
      <button class="button" type="submit" value="4" name="mode[mode]">Middle2 1/3</button>
      <button class="button" type="submit" value="5" name="mode[mode]">Bottom 1/3</button>
      <button class="button" type="submit" value="6" name="mode[mode]">Mix</button>
      <button class="button" type="submit" value="7" name="mode[mode]">Red</button>
      <button class="button" type="submit" value="8" name="mode[mode]">Green</button>
      <button class="button" type="submit" value="9" name="mode[mode]">Blue</button>
      <button class="button" type="submit" value="10" name="mode[mode]">Cycle</button>
    </form>
  </div>
</div>

</body>
